
.loader { 
  position: relative; 
  width: 80px; 
  height: 80px; 
  border-radius: 60%; 
 }


.loader-7 .line { 
  width: 18px; 
  position: absolute; 
  border-radius: 5px; 
  bottom: 0; 
  background: linear-gradient(to bottom, #1ee95d, #5714ce); 
}
.loader-7 .line1 {
  left: 0; 
 
  animation: line-grow 0.5s ease alternate infinite; 
}
.loader-7 .line2 { 
  left: 40px; 
 
  animation: line-grow 0.5s 0.1s ease alternate infinite; 
}
.loader-7 .line3 { 
  left: 80px; 
 
  animation: line-grow 0.5s 0.3s ease alternate infinite; 
}
 @keyframes line-grow {
 0% {
 height: 0;
}
 100% {
 height: 100%;
}
}